<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WabChat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <h3>Hey 🤐</h3>
    <div id="messages"></div>
    <input type="text" id="username" placeholder="username" required>
    <input type="text" id="message" placeholder="Message" required>
    <button id="sendBtn">Send</button>
    <script type="text/javascript">
        $(document).ready( function(){
            var socket = io.connect("https://0.0.0.0:5000")
            socket.on("connect",function(){
                socket.send("User Connected!");
                
            });
            socket.on("message",function(data){
                
                $("#messages").append($("<p>").text(data));
            });
            $("#sendBtn").on("click",function(){
                
                socket.send($('#username').val()+' : '+$('#message').val());
                $('#message').val("");
            })
        })
    </script>
</body>
</html>